.low,
.medium,
.high,
.finished {
    border-radius: 5px;
    font-size: 14px;
    padding: .1rem .4rem;
}

.low {
    background-color: #3BB800;
}

.medium {
    background-color: #E4D014;
}

.high {
    background-color: #B80000;
}

.finished {
    background-color: #AAABB8;
}