.taskContainer {
    width: 100%;
    max-width: 450px;
    max-height: 190px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--secondary-color);
}

.taskContainer header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options {
    display: flex;
    align-items: baseline;
    gap: .3rem;
}

.options input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
}

.options button {
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}

.taskInfo {
    display: flex;
    justify-content: space-between;
}

.description {
    font-size: 16px;
    text-wrap: wrap;
    overflow: hidden;
}

.finished header,
.finished .description {
    text-decoration: line-through;
    color: var(--tertiary-color);
}